@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body{font-family: 'Noto Sans KR', sans-serif;}

#wrap{width: 100%;margin: auto;}
.inner{width: 1440px;margin: auto;}


/* header----------------------------------------------- */

/* 공통 */
header nav li a{width: 140px;height: 50px;line-height: 50px;padding: 0px 10px;text-align: center;transition: all 0.2s;}

header{width: 100%;height: 100px;position: fixed;background: rgba(255,255,255,1);z-index: 10;display: flex;align-items: center;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);}

header .header-bg{
  width: 100%;height: 200px;background: rgba(255,255,255,1);position: absolute;top: 100px;
  display: none;
  transition: all 0.3s;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.05);
}

header h1{width: 166px;height: 22px;margin: 34px 80px 0 75px;}
header h1 a{width: 100%;height: 100%;}
header h1 a img{max-width: 100%;height: 100%;}

header nav{position: absolute;left: 324px;top: 50px;z-index: 5;}

/* main-menu */
header nav .main-menu{display: flex;}
header nav .main-menu:hover .sub-menu{display: block;}
header nav .main-menu > li > a{font-weight: bold;}
header nav .main-menu > li > a:hover{background: rgba(0,0,0,0.2);}

/* sub-menu */
header nav .main-menu li .sub-menu{display: none;}
header nav .main-menu li .sub-menu li a:hover{background: rgba(0,0,0,0.2);}

/* login-menu */
header .login-menu{display: flex;position: absolute;right: 75px;align-items: center;height: 20px;margin-top: 50px;}
header .login-menu li{margin-right: 16px;}
header .login-menu li div{width: 1px;height: 10px;background: #000;}
header .login-menu li a{font-size: 14px;}


/* title----------------------------------------------- */
#title{width: 100%;height: 240px;text-align: center;line-height: 140px;border: 1px solid #777;padding-top: 100px;}
#title h2{font-size: 36px;font-weight: bold;}


/* contents----------------------------------------------- */
#contents{width: 840px;margin: 60px auto 200px;border: 1px solid #dcdcdc;padding: 60px 70px 50px;}

#contents h3{text-align: center;font-size: 28px;font-weight: bold;}
#contents h4{margin: 60px 0 38px;font-size: 24px;font-weight: 500;}

#contents .text-box{display: flex;margin-bottom: 16px;justify-content: space-between;}
#contents .text-box p{font-size: 20px;text-align: end;line-height: 1.5;}
#contents .text-box p:nth-of-type(2){flex-grow: 1;}
#contents .text-box p:last-of-type{padding-left: 4px;}
#contents .text-box p span{font-weight: 700;}
#contents .text-box:nth-child(10){margin-bottom: 0px;font-weight: bold;}
#contents .text-box:nth-child(10) p:first-child{width: 100%;text-align: start;}

#contents .agree-box{margin: 80px 0 50px;}
#contents .agree-box div{display: flex;line-height: 1.5;}
#contents .agree-box div:first-of-type{margin-bottom: 4px;}
#contents .agree-box div p:first-of-type{margin-right: 8px;}
#contents .agree-box h4{font-size: 16px;font-weight: 500;margin-bottom: 8px;}

#contents .btn{display: flex;width: 700px;justify-content: center;}
#contents .btn button:first-of-type{margin-right: 10px;background: #dcdcdc;width: 180px;}
#contents .btn button{width: 360px;height: 56px;background: #000;border-radius: 10px;display: flex;justify-content: center;align-items: center;}
#contents .btn button p{font-size: 20px;font-weight: 500;color: #fff;}


/* footer ------------------------------------------------------- */
footer{width: 100%;padding: 70px 0 50px;background: #000;}
footer .inner{display: flex;}

footer .address{flex-grow: 1;}
footer .address a{width: 135px;margin-bottom: 25px;color: #fff;}
footer .address img{width: 100%;max-width: 100%;}
footer .address p{margin-bottom: 14px;font-size: 14px;color: #fff;}
footer .address p:last-of-type{margin-top: 30px;}

footer ul li{margin-bottom: 14px;}
footer ul li:last-of-type{margin-bottom: 0px;}

footer .terms-menu li:first-of-type{font-weight: bold;}
.terms-menu li a{color: #fff}

footer .user-menu{margin-left: 80px;}
footer .user-menu li a{color: #fff;}
footer .user-menu span{font-weight: bold;color: #fff;}
footer .user-menu li span{margin-top: 14px;display: block;}